body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.3;
  font-family: arial, sans-serif;
  color: white;
  background-color: #707070;
  min-width: 1023px;
}

nav {
  overflow: hidden;
  background-color: #1f1f1f;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color:#991600;
}

.main-content {
  padding: 0;
  display: flex;
}

.formBox{
  width: 32vw;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  font-size: 20px;
  line-height: 50px;
}

.ordersButton {
  justify-content: center;
}

.ordersButton a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.NOB {
  width: 164px; 
  height: 50px; 
  border: 3px solid black;
  justify-content: center;
}