body {
  font-size: 12px;
  line-height: 1.3;
  font-family: arial, sans-serif;
  color: white;
  background-color: #000;
  min-width: 1023px;
}
nav {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

#pageContentDiv {
  display: grid;
  grid-template-columns: 50% 50%;
}
