body {
    font-size: 12px;
    line-height: 1.3;
    font-family: arial, sans-serif;
    color: #000;
    min-width: 1023px;
}

#logo {
    padding: 0 0 0 5px;

}

#logo a{
    font-size: 0px;
}

#slider .left-bottom { 
    background-position: left bottom; 
    left: -6px; top: 407px; 
}
#slider .right-bottom { 
    background-position: right bottom; 
    right: -6px; top: 407px; 
}

