{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'admin.css' %}" />
    <title>Admin</title>
  </head>
  <body>
    <nav>
      <button id="homeBtn" href="{% url 'home' %}">Home</button>
      <h1>Welcome Susan</h1>
    </nav>
    <div id="pageContentDiv">
      <div id="dailyLunchForm">
        <form action="" method="POST">
          {% csrf_token %} {{form.as_p}}
          <button>Change Lunch</button>
        </form>
        <form action="" method="POST">
          {% csrf_token %} {{till.as_p}}
          <button></button>
        </form>
      </div>
      <div id="inputNewFoodForm">new foods here</div>
      <div id="countTillForm">till</div>
      <div id="calendarSlot">calendar</div>
    </div>
  </body>
</html>
