{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'admin.css' %}" />
    <title>Admin</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'home' %}" title="Home">Home</a>
      <h1>Welcome Susan</h1>
    </nav>
    <div id="pageContentDiv">
      <div class="adminOption" id="ordersView">View placed orders.</div>
      <div class="adminOption" id="dailyLunchForm">
        <h1>Online Orders:</h1>
        <button class="noOrdersBtn">
          <a href="{% url 'turnOffOrders' %}">On</a>
        </button>
        <form action="" method="POST">
          {% csrf_token %} {{till.as_p}}
          <input type="submit" name="form_type" value="Till Out" />
        </form>
      </div>
      <div class="adminOption" id="inputNewFoodForm">
        <form action="" method="POST">
          {% csrf_token %} {{newFood.as_p}}
          <input type="submit" name="form_type" value="Add Item" />
        </form>
      </div>
      <div class="adminOption" id="countTillForm">till out</div>
      <div class="adminOption" id="calendarSlot">calendar</div>
    </div>
  </body>
</html>
