{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'admin.css' %}" />
    <title>Admin</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'home' %}" title="Home">Home</a>
      <a href="{% url 'deleteEvent' %}">Delete Events</a>
      <a href="{% url 'tillView' %}">View Tills</a>
      <a href="{% url 'orderAdmin' %}">Orders</a>
    </nav>
    <div class="main-content">
      <div class="formBox" id="dailyLunchForm">
        <h1>Create Event:</h1>
        <form action="" method="POST">
          {% csrf_token %} {{createEvent.as_p}}
          <input type="submit" name="form_type" value="Add an Event" style="height: 40px; width: 120px; font-size: 17px;"/>
        </form>
      </div>
      <div class="formBox" id="inputNewFoodForm">
        <h1>Add a new Food:</h1>
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %} {{newFood.as_p}}
          <input type="submit" name="form_type" value="Add New Menu Item" style="height: 40px; width: 180px; font-size: 17px;"/>
        </form>
      </div>
      <div class="formBox" id="countTillForm">
        <h1>Closing Till:</h1>
        <form action="" method="POST">
          {% csrf_token %} {{till.as_p}}
          <input type="submit" name="form_type" value="Till Out" style="height: 40px; width: 80px; font-size: 17px;"/>
        </form>
      </div>
    </div>
    <div style="display: flex;">
    <div class="ordersButton" style="height: 40vh; justify-content: space-around;">
      {% if noOrdersButton.isActive == True %}
      <a href="{% url 'turnOffOrders' %}">
        <div class="NOB" style="background-color: red;">Not Taking Orders</div></a>
      {% else %}
      <a href="{% url 'turnOffOrders' %}"><div class="NOB" style="background-color: green;">Taking Orders</div></a>
      {%endif%}
    </div>
  </body>
</html>