{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'food-style.css' %}"/>
    <title>Food</title>
  </head>
  <body onload="checkDateTime()">
    <nav class="sticky">
      <a href="{% url 'home' %}" title="Home">Home</a>
      <a class="dropbtn" onclick="myFunction()">Menu
        <i class="fa fa-caret-down"></i>
      </a>
      <a class="checkoutbtn" onclick="openCheckout()">Checkout</a>
    </nav>
    <div class="dropdown-content" id="myDropdown">
      <a class="Btn" name="all" href="{% url 'food' %}">Full Menu</a>
      <a class="Btn" name="small" href="{% url 'sortmenu' "small" %}"
        >Burgers and More</a
      >
      <a class="Btn" name="big" href="{% url 'sortmenu' "big" %}">Plates</a>
      <a class="Btn" name="sides" href="{% url 'sortmenu' "side" %}">Sides</a>
      <a class="Btn" name="salads" href="{% url 'sortmenu' "salad" %}">Salads</a>
      <a class="Btn" name="starters" href="{% url 'sortmenu' "starter" %}">Starters</a>
    </div>
      <div id="ticketSide">
        <div class="ticket-content" id="ticketDisplay">
          {% for item in cart %}
          <div class="ticketItem">
            <h2 class="itemName">{{item.name}}</h2>
            {% if item.type == "big"%}
            <button>add in the dropdown</button><button>add in the dropdown</button>
            {% endif %}
            {% if item.type == "small"%}
            <button>Add in the dropdown</button>
            {% endif %}
            <h2 class="itemPrice">{{item.cost}}</h2>
            <button>
              <a href="{% url 'removeFromCart' item.id %}">Remove</a>
            </button>
          </div>
          {% endfor %}
        </div>
        <div class="sticky2">
          <h2 id="total">Total: $0.00</h2>
          <div class="placeBtn"></div>
        </div>
      </div>
    </div>
  </body>
</html>