{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <title>Cart</title>
  </head>
  <style>
    .show {
        display: block !important;
    }

    .storeHours {
      display: none;
    }

    .notStoreHours {
      display: none;
    }
  </style>
  <body>
    <nav class="sticky">
      <a href="{% url 'home' %}" title="Home">Home</a>
      <a href="{% url 'food' %}">Menu</a>
    </nav>
      <div class="ticket-content" id="ticketDisplay">
        {% for item in cart %}
        <div class="ticketItem">
          <h2 class="itemName">{{item.name}}</h2>
          {% if item.type == "big"%}
          <p>{{item.side1}}</p><p>{{item.side2}}</p>
          {% endif %}
          {% if item.type == "small"%}
          <p>{{item.side1}}</p>
          {% endif %}
          <h2 class="itemPrice">${{item.cost}}</h2>
          <button>
            <a href="{% url 'removeFromCart' item.id %}">Remove</a>
          </button>
        </div>
        {% endfor %}
      </div>
      <div class="storeHours">
        <h2 id="total">Total: ${{total}}</h2>
        {% if isActive.isActive == False %}
        <div class="placeBtn"><a href="{% url 'checkout' %}">Place Order</a></div>
        {% else %}
        <p>Sorry, we are not taking online orders at this time.</p>
        {% endif %}
      </div>
      <div class="notStoreHours">
        <p>Sorry, we are not taking online orders at this time.</p>
      </div>
    </div>
  </body>
  <script>
    var dt = new Date();

    function checkDateTime() {
      console.log(dt.getDay())
      if (dt.getDay() != 5 && dt.getDay() != 6) {
        document.getElementById("myDropdown").insertAdjacentHTML(
          "beforeend",
          `
            <a class="Btn" name="seafood" href="{% url 'sortmenu' "seafood" %}">Seafood</a>
          `
        );
      }
      checkHours()
    }

    function checkHours() {
      if (dt.getHours() * 100 + dt.getMinutes() >= 1630 && dt.getHours() < 19) {
        document.getElementById("storeHours").classList.toggle("show");
      } else {
        document.querySelector(".notStoreHours").classList.toggle("show");
        }
      }
  </script>
</html>