{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    
    <link rel="stylesheet" href="{% static 'food-style.css' %}"/>
    <title>Cart</title>
  </head>
  <body>
    <nav class="sticky">
      <a href="{% url 'home' %}" title="Home">Home</a>
      <a href="{% url 'food' %}">Menu</a>
    </nav>
    <div class="mainpage">
      <div class="ticket-content" id="ticketDisplay">
        {% for item in cart %}
          <div class="ticketItem">
            <h2 class="itemName">{{item.name}}---${{item.cost}}</h2>
            {% if item.type == "big"%}
            <p>--{{item.side1}}</p><p>--{{item.side2}}</p>
            {% endif %}
            {% if item.type == "small"%}
            <p>--{{item.side1}}</p>
            {% endif %}
            {% if item.comment != "" %}
            <p>request: {{item.comment}}</p>
            {% endif %}
            <button>
              <a href="{% url 'removeFromCart' item.id %}">Remove</a>
            </button>
          </div>
        {% endfor %}
      </div>
      <h3 id="tax">Tax: ${{totalTax}}</h3>
      <h1 id="total">Total: ${{total}}</h1>
      <div class="storeHours">
        {% if isActive.isActive == False and storeHours == True and total > 0 %}
        <div class="placeBtn"><a href="{% url 'checkout' %}">Place Order</a></div>
        {% else %}
        <p>Sorry, we are not taking online orders at this time.</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
