{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <title>Food</title>
  </head>
  <style>
    body {
      background-color: white;
      color: black;
    }
  </style>
  <body>
      <nav class="sticky">
        <a class="Btn" name="small">Small</a>
        <a class="Btn" name="big">Big</a>
        <a class="Btn" name="sides">Sides</a>
        <a class="Btn" name="salads">Salad</a>
        <a class="Btn" name="starters">Starters</a>
      </nav>
      <div id="content"></div>
    </div>
  </body>
  <script src="{% static 'script.js' %}"></script>
</html>
