{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'food-style.css' %}"/>
    <title>Food</title>
  </head>
  <body onload="checkDateTime()">
    <nav class="sticky">
      <a href="{% url 'home' %}" title="Home">Home</a>
      <a class="dropbtn" onclick="myFunction()">Menu
        <i class="fa fa-caret-down"></i>
      </a>
      {% if cartNum > 0 %}
      <a class="cartbtn" href="{% url 'cart' %}">Cart: {{cartNum}}</a>
      {% endif %}
    </nav>
    <div class="dropdown-content" id="myDropdown">
      <a class="Btn" name="all" href="{% url 'food' %}">Full Menu</a>
      <a class="Btn" name="small" href="{% url 'sortmenu' "small" %}">Burgers and More</a>
      <a class="Btn" name="big" href="{% url 'sortmenu' "big" %}">Plates</a>
      <a class="Btn" name="sides" href="{% url 'sortmenu' "side" %}">Sides</a>
      <a class="Btn" name="salads" href="{% url 'sortmenu' "salad" %}">Salads</a>
      <a class="Btn" name="starters" href="{% url 'sortmenu' "starter" %}">Starters</a>
      <a class="Btn" name="sandwiches" href="{% url 'sortmenu' "sandwich" %}">Sandwiches</a>
    </div>
    <div class="mainpage">
      <div id="content">
        {% for item in menu %}
          <div id="itemBox" class="{{item.type}}"><a  href="{% url 'item' item.name %}">
            <img src="{{item.image.url}}">
            <h2 class="itemName">{{item.name}}</h2>
            <p class="itemDesc">{{item.description}}</p>
            <h2 class="itemPrice">$ {{item.cost}}</h2>
            <button></a>
          </div>
        {% endfor %}
      </div>
    </div>
    <script>
      const foodbox = document.getElementById("content");
      const ticketDisplay = document.getElementById("ticketDisplay");
      const options = document.querySelectorAll(".Btn");
      let total = 0;
      const totalText = document.getElementById("total");
      var dt = new Date();
      const sidesNames = [];
      
      function checkDateTime() {
        if (dt.getDay() != 5 && dt.getDay() != 6) {
          document.getElementById("myDropdown").insertAdjacentHTML(
            "beforeend",
            `
              <a class="Btn" name="seafood" href="{% url 'sortmenu' "seafood" %}">Seafood</a>
            `
          );
        }
      }
      
      //toggle menu
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
    </script>
  </body>
</html>