{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'food-style.css' %}"/>
    <title>Food</title>
  </head>
  <body onload="checkDateTime()">
    <nav class="sticky">
      <a href="{% url 'home' %}" title="Home">Home</a>
      {% if cartNum > 0 %}
      <a class="cartbtn" href="{% url 'cart' %}">Cart: {{cartNum}}</a>
      {% endif %}
    </nav>
    <div class="menu">
      <a class="Btn" name="starters" onclick="showItems(starters)">Starters</a>
        <div class="gridBox show" id="starters">
          {% for item in menu %}
          {% if item.type == "starter" %}
              <div class="mainpage"><a  href="{% url 'item' item.name %}">
                <img src="{{item.image.url}}">
                <h2 class="itemName">{{item.name}}</h2>
                <p class="itemDesc">{{item.description}}</p>
                <h2 class="itemPrice">$ {{item.cost}}</h2>
                </a>
              </div>
          {% endif %}
          {% endfor %}
        </div>
      <a class="Btn" name="small" onclick="showItems(small)">Burgers and More</a>
        <div class="gridBox show" id="small">
          {% for item in menu %}
          {% if item.type == "small" %}
              <div class="mainpage"><a  href="{% url 'item' item.name %}">
                <img src="{{item.image.url}}">
                <h2 class="itemName">{{item.name}}</h2>
                <p class="itemDesc">{{item.description}}</p>
                <h2 class="itemPrice">$ {{item.cost}}</h2>
                </a>
              </div>
          {% endif %}
          {% endfor %}
        </div>
      <a class="Btn" name="big" onclick="showItems(big)">Plates</a>
        <div class="gridBox show" id="big">
          {% for item in menu %}
          {% if item.type == "big" %}
              <div class="mainpage"><a  href="{% url 'item' item.name %}">
                <img src="{{item.image.url}}">
                <h2 class="itemName">{{item.name}}</h2>
                <p class="itemDesc">{{item.description}}</p>
                <h2 class="itemPrice">$ {{item.cost}}</h2>
                </a>
              </div>
          {% endif %}
          {% endfor %}
        </div>
      <a class="Btn" name="sides" onclick="showItems(sides)">Sides</a>
        <div class="gridBox show" id="sides">
          {% for item in menu %}
          {% if item.type == "side" %}
              <div class="mainpage"><a  href="{% url 'item' item.name %}">
                <img src="{{item.image.url}}">
                <h2 class="itemName">{{item.name}}</h2>
                <p class="itemDesc">{{item.description}}</p>
                <h2 class="itemPrice">$ {{item.cost}}</h2>
                </a>
              </div>
          {% endif %}
          {% endfor %}
        </div>
      <a class="Btn" name="salads" onclick="showItems(salads)">Salads</a>
        <div class="gridBox show" id="salads">
          {% for item in menu %}
          {% if item.type == "salad" %}
              <div class="mainpage"><a  href="{% url 'item' item.name %}">
                <img src="{{item.image.url}}">
                <h2 class="itemName">{{item.name}}</h2>
                <p class="itemDesc">{{item.description}}</p>
                <h2 class="itemPrice">$ {{item.cost}}</h2>
                </a>
              </div>
          {% endif %}
          {% endfor %}
        </div>
      {% comment %} <a class="Btn" name="sandwiches" onclick="showItems(sandwiches)">Sandwiches</a>
        <div class="gridBox show" id="sandwiches">
          {% for item in menu %}
          {% if item.type == "sandwich" %}
              <div class="mainpage"><a  href="{% url 'item' item.name %}">
                <img src="{{item.image.url}}">
                <h2 class="itemName">{{item.name}}</h2>
                <p class="itemDesc">{{item.description}}</p>
                <h2 class="itemPrice">$ {{item.cost}}</h2>
                </a>
              </div>
          {% endif %}
          {% endfor %}
        </div> {% endcomment %}
      </div>
    </div>
    <script>
      var dt = new Date();
      
      function checkDateTime() {
        if (dt.getDay() == 5 || dt.getDay() == 6) {
          document.querySelector(".menu").insertAdjacentHTML(
            "beforeend",
            `
              <a class="Btn" name="seafood" onclick="showItems(seafood)">Seafood</a>
              <div class="gridBox show" id="seafood">
                {% for item in menu %}
                {% if item.type == "seafood" %}
                    <div class="mainpage"><a  href="{% url 'item' item.name %}">
                      <img src="{{item.image.url}}">
                      <h2 class="itemName">{{item.name}}</h2>
                      <p class="itemDesc">{{item.description}}</p>
                      <h2 class="itemPrice">$ {{item.cost}}</h2>
                      </a>
                    </div>
                {% endif %}
                {% endfor %}
              </div>
            `
          );
        }
      }
    </script>
  </body>
  <script>
    
    function showItems(type) {
      type.classList.toggle("show");
    }
  </script>
</html>