{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% comment %} <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    /> {% endcomment %}
    <link rel="stylesheet" href="static/style.css" type="text/css" media="all" />
    <script src="js/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.nivo.slider.pack.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/functions.js" type="text/javascript" charset="utf-8"></script>
    <title>Index</title>
  </head>
  <body>
  <div id="wrapper">
	  <div class="shell">
      <div id="header">
        <h1 id="logo"><a href="#" title="">CornerStore<span>Logan's Mom</span></a></h1>
      </div>


    
    <div id="nav"
      <li><a href = "#"</a>Home</li>
      <li><a href ="food.html"</a>Food</li>
      <li><a href ="checkout.html"</a> <img src = "cart_checkout.png" alt = "viewing your cart/checking out"> </li>
    </div>

    <div id="slider">
      <div class="left-top">&nbsp;</div>
      <div class="right-top">&nbsp;</div>
        <div class="slides">
          <img/>
          <img/>
          <img/>
        </div>
      <div class="left-bottom">&nbsp;</div>
      <div class="right-bottom">&nbsp;</div>
  </body>
</html>
