{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>CornerStore</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
  <script src="{% static 'script.js' %}"></script>
  </head>
  <body>
    <div id="wrapper">
      <div class="shell">
  
        <div id="header">
          <h1 id="logo"><a href="#" title="">CornerStore<span>Susan Coley</span></a></h1>
        </div>
  
        <nav id="navigation">
          <ul>
            <li><a href="#" class="active" title="Home"><span>Home</span></a></li>
            <li><a href="{% url 'food' %}" title="Food"><span>Food</span></a></li>
            <li><a href="{% url 'checkout' %}" title ="Checkout"><span>Checkout</span></a> </li>
            <li><a href="{% url 'logout' %}" title ="Login"><span>Logout</span></a> </li>
          </ul>
        </nav>
        <hr class="nav-underline">
      </div>
      <!-- END Navigation -->
      <!-- Slider -->
  
      <div class="container">
        <div id="myCarousel" class="carousel slide">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li class="item1 active"></li>
            <li class="item2"></li>
            <li class="item3"></li>
            <li class="item4"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
      
            <div class="item active">
                <a href="https://github.com/LoganColey/EverestGameCenter" target="_blank"><img src="{% static 'images/bigchungus.png' %}" width="200" height="250" alt="Arcade" class="center"> </a>
          
            </div>
      
            <div class="item">
                <a href="https://github.com/LoganColey/DiceAndMangement" target="_blank"><img src="images/dnm.png" width="200" height="250" alt="DnM" class="center"> </a>
              <div class="carousel-caption">
                <h3>Dice and Management</h3>
                <p>A DnD player and monster creator where users can share their creations with other users and comment on their creations.</p>
              </div>
            </div>
          
            <div class="item">
                <a href="https://github.com/LoganColey/Unit1" target="_blank"><img src="images/inferno.png" width="200" height="250" alt="Unit1Project" class="center"> </a>
              <div class="carousel-caption">
                <h3>Asunder</h3>
                <p>Asunder is my 1st unit project based off of Dante's Inferno but, as a rouge-like rpg.  It was helped made with Rylee Chisholm. Essentially the gameplay boils down to the player going to different floors to gain levels and loot to fight bosses and win.  We never fully completed the game due to the one week period we had to complete it but we are looking forward to finishing it in the future.</p>
              </div>
            </div>
      
            <div class="item">
                <a href="https://github.com/LoganColey/Unit2_Project" target="_blank"><img src="images/sz.png" width="200" height="250" alt="Unit2Project" class="center"> </a>
              <div class="carousel-caption">
                <h3>Pokemon Safari Park</h3>
                <p>Pokemon Safari Park was a quick Pokemon experience.  You would first pick your starting Pokemon and then go catch pokemon to catch different pokemon and fight at the battle towers to get access to the secret legendary pokemon.  We feel like wwe could do more with the game maybe add a save file and also add evos for pokemon as well.</p>
              </div>
            </div>
        
          </div>
      
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      
      <script>
      $(document).ready(function(){
        // Activate Carousel
        $("#myCarousel").carousel();
          
        // Enable Carousel Indicators
        $(".item1").click(function(){
          $("#myCarousel").carousel(0);
        });
        $(".item2").click(function(){
          $("#myCarousel").carousel(1);
        });
        $(".item3").click(function(){
          $("#myCarousel").carousel(2);
        });
        $(".item4").click(function(){
          $("#myCarousel").carousel(3);
        });
          
        // Enable Carousel Controls
        $(".left").click(function(){
          $("#myCarousel").carousel("prev");
        });
        $(".right").click(function(){
          $("#myCarousel").carousel("next");
        });
      });
      </script>

      <div id="main">
        <div class="items">
          <div class="large-col">
            <h2>Who We Are?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id molestie enim. Suspendisse consequat urna non ante gravida euismod. In in nibh nulla. Vestibulum at tellus viverra nulla aliquam pulvinar. Maecenas nulla arcu, venenatis et ultrices id, tincidunt ut nisl. Etiam augue lectus,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id molestie enim. Suspendisse consequat urna non ante gravida euismod. In in nibh nulla. Stibulum at tellus viverra nulla aliquam pulvinar. Maecenas nulla arcu, venenatis et ultrices id, tincidunt ut nisl. Maecenas nulla arcu, venenatis et ultrices id, tincidunt ut nisl. Etiam augue lectus,Lorem ipsum dolor</p>
            <img src="images/cornerstore-staff.jpeg" alt="Coley Family">
          </div>
          <div class="large-col-last">
            <h2>Today's Special</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id molestie enim. Suspendisse consequat urna non ante gravida euismod. In in nibh nulla. Vestibulum at tellus viverra nulla aliquam pulvinar.</p>
            
            <p class="a-link"><a href="#" class="btn-red" title="Order"><span>Order</span></a></p>					
          </div>
          <div class="cl">&nbsp;</div>
        </div>
        <div class="items">
          <div class="rewiew-box">
            <div class="small-col">
              <h3>Danny says</h3>
              <p>"Great place to eat, great food, great prices and super friendly service. We love the Coleys."</p>
            </div>
          </div>
        <div class="items">
          <div class="rewiew-box">
            <div class="small-col">
              <h3>Rodney says</h3>
              <p>"Best frog legs I've had in a while. I will be back!"</p>
            </div>
          </div>
          <div class="rewiew-box">
            <div class="small-col last">
              <h3>Matt-Kat says</h3>
              <p>"Good food and freshly made on every order."</p>
            </div>
          </div>
          <div class="cl">&nbsp;</div>
        </div>
      </div>



  </body>
</html>