{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'food-style.css' %}" />
    <title>Ticket</title>
  </head>
  <body>
    <nav class="sticky">
      <a href="{% url 'home' %}" title="Home">Home</a>
      <a href="{% url 'food' %}">Menu</a>
    </nav>
    <div class="mainpage">
      <div class="ticket-content" id="ticketDisplay">
      {% for item in cart.cartitem_set.all %}
        <div class="ticketItem">
          <h2 class="itemName">{{item.name}}---${{item.cost}}</h2>
          {% if item.type == "big"%}
          <p>--{{item.side1}}</p><p>--{{item.side2}}</p>
          {% endif %}
          {% if item.type == "small"%}
          <p>--{{item.side1}}</p>
          {% endif %}
          {% if item.comment != "" %}
          <p>request: {{item.comment}}</p>
          {% endif %}
        </div>
      {% endfor %}
      <div class="storeHours">
        <h3 id="tax">Tax: ${{totalTax}}</h3>
        <h2 id="total">Total: ${{total}}</h2>
      </div>
    </div>
  </body>
</html>